<!-- Start of Judge.me code -->
    <div class='product-card__reviews dgm-widget jdgm-preview-badge'>
      {{ product.metafields.judgeme.badge }}

      <p class="product-card__title grow">
        <a class="reversed-link text-base-xl font-medium leading-tight" href="{{ product_url }}">
          {{- product.title | escape -}}
        </a>
      </p>
    </div>
<!-- End of Judge.me code -->