<div class="product-card__inspired-by">
    {% if product.metafields.custom.inspired_by_et_retail_price.value %}
    <p class="product-card__inspired-by__text">Inspired by</p>
    <p>
    {% case product.metafields.custom.inspiration_brand %}
        {% when 'Chanel' %}
            
        {% else %}
        <b>
            {% case product.metafields.custom.inspiration_brand | split:'' | last %}
                {% when 's' %}
                    {{ product.metafields.custom.inspiration_brand }}'
                {% else %}
                    {{ product.metafields.custom.inspiration_brand }}'s
            {% endcase %}
        </b>
    {% endcase %}
    <span>{{ product.metafields.facebook.custom_label_0 }}</span></p>
    <p><span class="product-card__retail-price">(Retail Price: {{ product.metafields.pdp.retail_price | metafield_tag | split:' GBP'}})</span></p>
    {% endif %}
</div>