<!-- Start of Judge.me code -->
    <div class='product-card__reviews dgm-widget jdgm-preview-badge'>
      {% render 'cust__judgeme-widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}

      <p class="product-card__title grow">
        <a class="reversed-link text-base-xl font-medium leading-tight" href="{{ product_url }}">
          {{- product.title | escape -}}
        </a>
      </p>
    </div>
<!-- End of Judge.me code -->